<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Profile Image</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      /* Sticky footer styles */
      body {
        height: 100%;
        background-image: linear-gradient(to bottom, #f1f6f9, #9ba4b5);
        font-family: cursive;
      }

      .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #9ba4b5;
        margin-top: 0px;
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin-top: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      .navbar-logo {
        display: flex;
        align-items: center;
      }

      .navbar-logo img {
        height: 50px;
        margin-right: 10px;
      }

      .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }

      .navbar-brand:hover {
        color: #fff;
      }

      .navbar-link {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
      }

      .navbar-link:hover {
        color: #555;
      }

      .navbar-right {
        padding-right: 10px;
        display: flex;
        align-items: center;
      }

      h2 {
        color: #fff;
      }

      .card {
        width: 60%;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
        transition: 0.3s ease-in-out;
        margin: 20px auto;
        background-image: linear-gradient(to bottom, #394867, #212a3e);
        padding: 10px;
        margin-top: 7rem;
      }

      .card-in {
        width: 50%;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        margin: 20px auto;
        background-image: linear-gradient(to bottom, #f1f6f9, #9ba4b5);
        padding: 15px;
      }

      .wrapper {
        min-height: 100%;
        margin-bottom: -50px;
      }
      .push {
        height: 50px;
      }
      .sticky-footer {
        height: 50px;
        background-color: #f5f5f5;
      }

      .form-control-file {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
      }

      .label {
        font-size: 20px;
        font-weight: 500;
      }

      .btn {
        background-color: rgb(28, 192, 28);
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #3a943a;
      }

      .custom-file {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 2.3rem;
      }

      .custom-file-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .custom-file-label {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0.5rem 1rem;
        line-height: 1.5;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        background-color: #fff;
      }

      .custom-file-input:focus ~ .custom-file-label {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      .custom-file-input:disabled ~ .custom-file-label {
        background-color: #ced4da;
        opacity: 0.6;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img
          style="position: relative; bottom: 5px"
          src="/photos/logo.png"
          alt="Logo"
        />
        <h3 style="font-weight: bold; cursor: pointer">All In One Card</h3>
      </div>

      <div class="navbar-right">
        <a style="text-decoration: none" href="/About" class="navbar-link"
          >About</a
        >
      </div>
    </div>

    <div class="card">
      <main class="container flex-grow-1 py-4">
        <h2>Personal Identification</h2>
        <form
          action="/upload/<%= userId %>"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage"
                  >Smart National ID front photo:</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage"
                    name="profileImage"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>

            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage2"
                  >Smart National ID back photo:</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage2"
                    name="profileImage2"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage2"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>

            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage3"
                  >personal ID Card Front Photo:</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage3"
                    name="profileImage3"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage3"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>

            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage4"
                  >personal ID Card Back Photo:</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage4"
                    name="profileImage4"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage4"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>

            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage5">Passport photo</label>
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage5"
                    name="profileImage5"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage5"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>

            <div class="card-in col-12 col-md-5">
              <div class="form-group">
                <label class="label" for="profileImage6"
                  >Driving License photo:</label
                >
                <div class="custom-file">
                  <input
                    type="file"
                    id="profileImage6"
                    name="profileImage6"
                    accept="image/*"
                    class="custom-file-input"
                  />
                  <label class="custom-file-label" for="profileImage6"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-secondary btn-block">
            Upload
          </button>
        </form>
      </main>
    </div>

    <footer>
      <div
        class="container d-flex justify-content-center align-items-center h-100"
      >
        <p style="color: #fff; opacity: 0.4" class="m-0">&copy; 2023 nabaz</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
